<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="sqlDashboardUrl" value="http://ironfoundry.me"/>
    <add key="sqlFilePath" value="c:\Dev\DataFiles"/>
    <add key="databaseNameFormat" value="cf-db-{0}"/>
    <add key="databaseUserFormat" value="cf-user-{0}"/>
    <add key="sqlDataSource" value=".\SQLEXPRESS"/>
    <add key="sqlServerPort" value="1433"/>
  </appSettings>
  <connectionStrings>
    <add name="CloudFoundry" connectionString="Data Source=.\SqlExpress;Initial Catalog=master;User ID=service_broker;Password=Pass@word1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
